# Dependencias
node_modules/

# Archivos de compilación
dist/
build/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de editores/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


monitor.js
cambios-registro.md

# Local env and logs
.env
.env.example
*.log